.clearfix { 

  *zoom: 1; 

} 

.clearfix:before, 

.clearfix:after { 

  display: table; 

  line-height: 0; 

  content: ""; 

} 

.clearfix:after { 

  clear: both; 

} 



body{
	padding: 0;
	margin: 0;
	background-color: #FAFAFA;
}
body a{
	text-decoration: none;
	color: white;
}
body a:hover{
	text-decoration: none;
	color: white;
}
/* 客服热线*/
.head-top{
	color: #1FB176;
	
}
.headtop{
	height: 40px;
	line-height: 40px;
	margin: 0 auto;
	width: 65%;
}
.service{
	font-size: 14px;
	color: #1fb176;
	text-align: left;
}
.share{
	float: right;
 text-align: right;
}
.share a{
	font-size: 14px;
	margin-left: 1rem;
	font-weight: bold;
	color: #1FB176;
}
@media only screen and (max-width:425px ) {
	.headtop{
		width: 90%;
	}
}

/*页眉菜单*/
header{
	background-color:#1FB176; 
	
}
.headerpart{
	position: relative;
	margin: 0 auto;
	line-height: 100px;
	height: 100px;
	width: 65%;
}
.skill{
	 height: 50px;
   width: 100px;
   margin-top: 25px;
	background:url(../img-task8/职位列表1234_03.jpg) left no-repeat;
	background-size: 100%;
	float: left;
}
.head-menu{
	margin-right: -35px;
	position: absolute;
	right: 0;
	font-family: "微软雅黑";
	color: white;
	text-align: center;
	float: right;
}
.head-menu div{
	line-height: 100px;
	height: 100px;
	width: 100px ;
	float: left;
}
.head-menu div:hover{
	border-bottom:solid 0.3rem white;
}
/*媒体查询*/
@media only screen and (max-width:768px ) {
	.headerpart{
		width: 65%;
	}
	.head-menu div{
	line-height: 100px;
	height: 100px;
	width: 50px ;
	float: left;
}
}
@media only screen and (max-width:425px) {
	.headerpart {
		width: 90%;
	}
	.head-menu div {
		line-height: 100px;
		height: 100px;
		width: 30px;
		float: left;
	}
	.head-menu{
		margin-right: 0;
	}
}












/*bootstrap轮播图*/
.carousel-inner{
	height: 30vw;
}
.item img{
	height: 30vw;
	width: 100%;
}


/*轮播图
.banar{
	position: relative;
	height: 35rem;
}
.banar-list{
	position: absolute;
	z-index: 1;
	width: 300%;
	height: 35rem;
    animation: bannar;
}

.banarone{
	float: left;
	width: 33.33%;
	height: 35rem;
	background:url(../img-task8/技能树首页_02.jpg)left no-repeat;
	background-size:100%;
}
.banartwo{
	float: left;
	width: 33.33%;
	height: 35rem;
	background:url(../img-task8/timg.jpg) left no-repeat;
	background-size:100%;
}
.banarthree{
	float: left;
	width: 33.33%;
	height: 35rem;
	background:url(../img-task8/技能树首页_02.jpg)  left no-repeat;
	background-size:100%;
}

.buttom{
	position: absolute;
	left: 50%;
	top: 92%;
	z-index: 2;
	width: 6rem;
	height: 2rem;
	margin: 0 auto;
}

.buttom div{
	border: solid 1px white;
	margin: 0.2rem 0.3rem 0  0.4rem;
	float: left;
	height: 0.8rem;
	width: 0.8rem;
	border-radius: 50%;
}
.buttom div:hover{
	background-color: #8C8C8C;
}
.leftbt{
	z-index: 3;
	position: absolute;
	left: 13%;
	top: 50%;
}
.rightbt{
	z-index: 3;
	position: absolute;
	right: 13%;
	top: 49%;
}
.icon-xiangyou1,.icon-xiangyou{
	color: #C0C0C0;
	font-size: 5rem;
}
*/
/*主体部分*/
main{
	margin: 170px auto 0;
        width: 62.5%;
}

/*主体第一部分*/
/* 第一部分 左边*/
.connection{
	padding:0 15px;
	margin-bottom: 140px;
}
.conne-one{
	padding-top: 1rem;
	text-align: center;
	width: 75%;
	float: left;
}
.conne-one div{
	padding:0 32px;
	width: 33.33%;
	float: left;
}

.conne-p2{
        display: inline-block;
        margin: 18px 28px 28px;
	font-weight: bold;
	font-size: 18px;
}
.conne-p3{
	font-size:16px;
	text-align: left;
	color: #C0C0C0;
}
.conne-one a{
	display:block;
	font-size:60px ;
	color: #1FB176;
}
/*主体第一部分右边*/
.conne-two{
	border-left: dashed 2px #DCDCDC;
	padding-left: 56px;
	padding-top: 20px;
	width: 25%;
	float: right;
}
.studynb{
	margin:30px 0 40px;
}
.conne-two a{
	color: #1FB176;
}
.conne-p4{
	margin-top:15px;
	color: #C0C0C0;
	font-size: 16px;
}
@media only screen and (max-width: 1024px) {
	main {
		width: 100%;
		margin:0 ;
	}
	.conne-one  p{
		padding: 0;
	}
	
	.conne-one{
		border-right: none;
		width: 100%;
		float: none;
	}
	.conne-two{
		padding-left: 0;
		float: none;
	}
	.conne-p3{
		text-align: center;
	}
	.conne-one div{
		margin-top:20px;
		float: none;
		margin: 0 auto;
		width: 65%;
	}
	.conne-two{
		border-left: none;
		border-top: dashed 2px #DCDCDC;
		text-align: center;
		margin: 0 auto;
		width: 80%;
	}
}
@media only screen and (min-width: 1025px) {
     .conne-one a{
                padding: 0;
	}
     .connection{
     	height: 270px;
     }
}





/*主体第二部分*/
.how-learn{
	margin-bottom: 150px;
	text-align: center;
}
.first-row{
	overflow:hidden;
	margin-bottom: 100px;
}
.hl-p{
	font-weight: bold;
	font-size: 18px;
	margin-bottom: 50px;
}
/*主体第二部分第一排*/
.first-list{
        display: flex;
        align-items: center;
	float: left;
	width: 25%;
}
.serail{
	display:inline-block;
	color: #1FB176;
	font-size: 18px;
	line-height: 70px;
	border-radius: 50%;
	border: solid 1px #CCCCCC;
	height: 70px;
	width: 70px;
}
.pardic{
	padding:0 13px;
	display:inline-block;
	text-align: left;
	width: 64%;
}
.icon-jiantou{
	display:inline-block;
	color: #1FB176;
}
@media only screen and (max-width: 767px) {
	.first-row{
		margin-bottom: 0;
	}
	.first-list {
		 color: #a1a1a1;
		justify-content: left;
		float: none;
		width: 80%;
		margin: 25px auto;
	}
	
	
}
@media only screen and (min-width: 768px) and (max-width: 1800px) {
	.first-row{
             width: 80%;
	     margin: 3rem auto;
	}
	.first-list{
	     margin-left: 1rem;
	     margin-bottom: 3rem; 
	     width: 47%;
	}
	 .pardic{
	     padding: 0;
	     width: 14rem;
	     margin-left: 3vw;
	 }
	.pardic{
		padding-top: 7px;
		margin-left: 10px;
	    width: 70%;
	}
	.icon-jiantou {
		margin-right: 0;
		padding-top: 0;
	}
}
@media only screen and (min-width: 320px) and (max-width: 425px) {
	.pardic{
		padding-top: 7px;
		margin-left: 10px;
	    width: 70%;
	}
	.icon-jiantou {
		margin-right: 0;
		padding-top: 0;
	}
}







/*主体第三部分*/
.students{
	overflow:hidden;
	text-align: center;
}
.students-head{
	font-weight: bold;
	font-size: 18px;
	margin-bottom: 70px;
}
.students-show{
	max-height: 117rem;	
}
.showpart{
	float:left;
	padding: 0 15px;
        width:25%
}
.show-part{
	margin-bottom: 20px;
	padding: 20px 30px 40px;
	background-color: white;
	box-shadow: 2px 2px 9px #C0C0C0;
	border: solid 1px #C0C0C0;
	float: left;
}
.bgimg,.bgimg-one,.bgimg-two,.bgimg-three{
	margin: 0 auto;
	height: 110px;
	width: 110px;
	background: url(../img-task8/技能树首页_10.jpg) left no-repeat;
	background-size: 100%;
}
.show-p1{
	margin:30px 0 20px;
	font-weight: bold;
	font-size: 18px;
}
.show-p2{
	font-size:16px;
	color: #C0C0C0;
	line-height: 1.5;
	text-align: left;
	letter-spacing:1px;
}
.bgimg-one{
	 background: url(../img-task8/技能树首页_03.jpg) left no-repeat;
	 background-size: 100%;
}
.bgimg-two{
	background: url(../img-task8/技能树首页_05.jpg)left no-repeat;
	background-size: 100%;
}
.bgimg-three{
	background: url(../img-task8/技能树首页_07.jpg)left no-repeat;
	background-size: 100%;
}
/*尾部四个小点*/
.btpart{
	width: 6rem;
	height: 20px;
	margin: 20px auto 0;
}

.btpart div{
	margin: 0.2rem 0.3rem 0  0.4rem;
	float: left;
	height: 0.8rem;
	width: 0.8rem;
	border-radius: 50%;
	background-color: #DCDCDC;
}
.btpart div:hover{
	background-color: #1FB176;
}

@media only screen and (max-width: 768px) {
	.showpart{
		float: none;
		width: 80%;
		margin: 0 auto;
	}
}
@media only screen and (min-width: 425px) and (max-width: 1153px) {
	.showpart{
		float: left;
		width: 50%;
	}
}







/*主体第四部分*/
.stratagy{
	text-align: center;
	height: 265px;
}
.stratagy-p{
	height: 20px;
	font-weight: bold;
	font-size: 1.2rem;
}
.stratagy-img{
	margin-top: 60px;
	height: 178px;
	background-color: white;
}
.stratagy-img:hover{
	box-shadow: 0px 0px 1px #C0C0C0;
}
.stratagy-img div{
	float: left;
	height: 178px;
	width: 20%;
}
.stratagy-img div:hover{
	border: solid 1px #C0C0C0;
	box-shadow: 0px 0px 9px #C0C0C0;

}
.stratagy-one{
	background: url(../img-task8/技能树首页_17.jpg) center no-repeat;
}
.stratagy-two{
	background: url(../img-task8/技能树首页_19.jpg) center no-repeat;
}
.stratagy-three{
	background: url(../img-task8/技能树首页_21.jpg) center no-repeat;
}
.stratagy-four{
	background: url(../img-task8/技能树首页_23.jpg) center no-repeat;
}
.stratagy-five{
	background: url(../img-task8/技能树首页_25.jpg) center no-repeat;
}
@media only screen and (max-width: 768px){
	.stratagy{
		height: 81rem;
		margin-top: 12rem;
	}
	.stratagy-p{
		font-size: 1.8rem;
	}
	.stratagy-img{
		border:none;
		height: 81rem;
		background:none;
	}
	.stratagy-img div{
		box-shadow: 2px 2px 2px #CCCCCC;
		background-color: white;
		width: 80%;
		margin: 18px auto;
		float: none;
	}
}




























/*友情链接*/
.blogroll{
	background-color: white;
	text-align: center;
	margin-top: 140px;
}
.blogroll-p{
	font-weight: bold;
	font-size: 20px;
}
.blogroll ul{
	overflow: hidden;
	padding:8px 0;
	margin: 5px auto;
	width: 65%;
}
.blogroll li{
	color: #8C8C8C;
	font: "微软雅黑";
	font-size: 14px;
	margin-right: 5.3%;
	float: left;
}
.blogroll li:hover{
	text-decoration: underline;
}
@media only screen and (max-width: 1024px) {
	.blogroll{
		overflow: hidden;
	}
	.blogroll ul{
		margin-left: 5vw;
		float: left;
		width: 45%;
	}
	.blogroll li{
		margin-left: 2rem;
	}
}
@media only screen and (min-width: 1024px) and (max-width: 1440px) {
	.blogroll li{
	     color: #8C8C8C;
	     font: "微软雅黑";
	     font-size: 14px;
	     width: 13%;
	     float: left;
}
}


















/*尾部部分*/
footer a:hover{
	border-bottom: solid 1px white;
}
footer{
	color: white;
	background-color: #1da36d;
	height: 12rem;
}
.footerpart{
	padding-bottom: 2rem;
	padding-top: 2rem;
	margin: auto ;
	text-align: left;
    width: 60%;
}
.footer-part{
	float: left;
}
.footer-partone{
	margin-left: 10rem;
	float: left;
}

.wechat{
	float: right;
}
.wechatone{
	height: 8rem;
	width: 8rem;
	background-size: 100%;
	background: url(../img-task8/技能树首页_33.jpg) left no-repeat;
}
.fp-p{
	margin-top: 5rem;
}
.fp-one{
	margin-top: 2rem;
}
.fp-two{
	margin-top: 2rem;
}
/*京号*/
.copys{
	border-top: solid 1px #1FB176;
	color: white;
	text-align: center;
	background-color: #1da36d;
	line-height: 2rem;
	height: 2rem;
}
@media only screen and (max-width: 1024px) {
	footer{
		height: 36rem;
	}
	.footerpart{
		text-align: center;
	}
	.footer-part,.footer-partone,.wechat{
		float: none;
	}
	.footer-partone{
		margin-left: 0;
		padding-top: 3rem;
	}
	.wechat{
		padding-top: 3rem;
	}
	.wechatone{
		margin: 0 auto;
	}
}
@media only screen and (max-width: 522px){
	.copys{
	       height:5rem
	}		
}
@media only screen and (min-width: 522px){
	.copys{
	       line-height:3rem
	       height:3rem
	}		
}	
